
/* Section 1 */

.uni-title{
    color:var(--main-color);
    font-size: var(--fz-30);
}

.shared-font{
    color: #4A5565;
    font-size: var(--fz-10);
}

.fa-building-columns{
    padding-inline: 25px;
    padding-block: var(--v-20px);
    border: 1px solid #E5E7EB;
}


.setting{
    font-size: var(--fz-10);
    border: #D1D5DC solid 1px;
    color: #0A0A0A;
    transition: all ease 0.3s;
}

.edit-profile{
    background-color: var(--main-color);
    font-size: var(--fz-10);
    transition: all ease 0.3s;
}

.setting:hover,
.edit-profile:hover{
    transform: translateY(-5px);
}

/* End Of Section 1 */




/* Section 2 */
.sec-2-header h2{
    font-size: var(--fz-30);
    color:var(--main-color);
}
.sec-2-header p{
    font-size: var(--fz-16);
    color:#4A5565;
}
.sec-2-header .new-unit{
    background-color: var(--main-color);
    font-size: var(--fz-10);
    transition: all 0.3s ease;
}

.sec-2-header .new-unit:hover{
    transform: translateY(-5px);
}

.faculties .faculty-item{
    transition: 0.3s all ease;
    cursor: pointer;
}

.faculty-item .name{
    color:#0A0A0A;
    font-size: var(--fz-12);
}

.faculties .faculty-item:hover{
    transform: translateY(-5px);
    border: 1px solid lightgreen !important;
}

.faculty-des-name{
    color: var(--main-color);
    font-size: var(--fz-16);
}
.faculty-des-description{
    color: #717182;
    font-size: var(--fz-14);
}

.detail-1{
    color: #4A5565;
    font-size: var(--fz-14);
}
.detail-2{
    color: #101828;
    font-size: var(--fz-14);
}


.faculty-item-analysis{
    border-top: 1px solid #E5E7EB;
}


.percentage{
    height: 6px;
    background-color: #E5E7EB;
}
.percentage .eng{
    width: 94.5%;
    background-color: #00C950;
}
.percentage .med{
    width: 96.2%;
    background-color: #00C950;
}
.percentage .sc{
    width: 91.8%;
    background-color: #00C950;
}

.buttons .dashboard,
.buttons .edit
{
    color: #0A0A0A;
    font-size: var(--fz-14);
    background-color: transparent;
    border: 1px solid #E5E7EB;
    transition: 0.3s all ease;
}


.buttons .dashboard:hover,
.buttons .edit:hover{
    transform: translateY(-5px);
    border: 1px solid lightgreen ;

}








/* Media Qeuries If Exists */
@media (min-width: 576px) {

.shared-font{
    font-size: var(--fz-12);
}

.sec-2-header .new-unit{
    font-size: var(--fz-12);
}

.setting,
.edit-profile{
    font-size: var(--fz-14);
}



}




@media (min-width: 768px) {

}





@media (min-width: 992px) {
    .shared-font{
    font-size: var(--fz-14);
}
.sec-2-header .new-unit{
    font-size: var(--fz-14);
}


}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {


}
