############################
# .NET / Visual Studio
############################

## Build output
bin/
obj/
out/
Debug/
Release/

## VS user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates