<div class="p-3">
  <!-- Header Section -->
  <div class="d-flex flex-wrap align-items-center justify-content-between mb-3 gap-3">

    <!-- Title + Subtitle -->
    <div class="flex-grow-1 min-w-200">
      <h1 class="fw-bold fs-6 mb-1">
        Roles Management
      </h1>
      <p class="small text-secondary mb-0 fw-normal">
        Manage and organize system roles and permissions
      </p>
    </div>

    <!-- Responsive Button -->
    <div class="btn-create">
      <button class="btn btn-primary btn-sm w-100 w-md-auto" routerLink="create">
        New Role
      </button>
    </div>
  </div>

  <!-- Roles Grid Component -->
  <app-roles-grid></app-roles-grid>
</div>
