<div *ngIf="control?.touched && control?.errors">
  <div class="text-danger mt-1" [ngSwitch]="true">

    <!-- REQUIRED -->
    <small *ngSwitchCase="control?.errors?.['required']">
      {{ 'requiredMessage' | translate }}
    </small>

    <!-- MIN LENGTH -->
    <small *ngSwitchCase="control?.errors?.['minlength']">
      {{ 'minLengthMessage'
      | translate:{ min: control?.errors?.['minlength']?.requiredLength } }}
    </small>

    <!-- MAX LENGTH -->
    <small *ngSwitchCase="control?.errors?.['maxlength']">
      {{ 'maxLengthMessage'
      | translate:{ max: control?.errors?.['maxlength']?.requiredLength } }}
    </small>

    <!-- PATTERN -->
    <small *ngSwitchCase="control?.errors?.['pattern']">
      {{ 'patternMessage' | translate }}
    </small>

    <!-- EMAIL -->
    <small *ngSwitchCase="control?.errors?.['email']">
      {{ 'emailMessage' | translate }}
    </small>

    <!-- CUSTOM (TEXT) -->
    <small *ngSwitchCase="control?.errors?.['custom']">
      {{ control?.errors?.['custom'] }}
    </small>

    <!-- UNMATCHED PASSWORD -->
    <small *ngSwitchCase="control?.errors?.['UnmatchedPassword']">
      كلمتا المرور غير متطابقتين
    </small>

  </div>
</div>
