<div class="error-wrapper" [class.show]="control?.invalid && control?.touched">
  <div class="text-danger mt-1">
    <small [class.visible]="control?.errors?.['required']">
      {{ 'validation.requiredMessage' | translate }}
    </small>
    <small [class.visible]="control?.errors?.['minlength']">
      {{ 'validation.minLengthMessage' | translate: {min: control?.errors?.['minlength'].requiredLength} }}
    </small>
    <small [class.visible]="control?.errors?.['maxlength']">
      {{ 'validation.maxLengthMessage' | translate: {max: control?.errors?.['maxlength'].requiredLength} }}
    </small>
    <small [class.visible]="control?.errors?.['pattern']">
      {{ 'validation.patternMessage' | translate }}
    </small>
    <small [class.visible]="control?.errors?.['email']">
      {{ 'validation.emailMessage' | translate }}
    </small>
    <small [class.visible]="control?.errors?.['custom']">
      {{ control?.errors?.['custom'] }}
    </small>
    <!-- custom errors -->
    <small *ngIf="control?.errors?.['UnmatchedPassword']">
      كلمتا المرور غير متطابقتين
    </small>
  </div>
</div>
