/* .error-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.error-wrapper.show {
  max-height: 100px;
  opacity: 1;
}

.text-danger small {
  display: block;
  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.4s ease-out;
  overflow: hidden;
}

.text-danger small.visible {
  max-height: 50px;
  opacity: 1;
  transform: translateY(0);
} */
