


/* Footer */
.footer{
    background: linear-gradient(to right, #0A1F44, #1E3A8A);

}

.footer-c-1-p{
    color: #99A1AF;
}

.footer-c-2{
    border-top: 1px solid #99A1AF;

}
.Reserved{
    font-size: var(--fz-8);
    color: #99A1AF;
}





/* End Of Footer */





/* Media Qeuries If Exists */
@media (min-width: 576px) {

.Certified {
    visibility: visible;
    bottom: -22px;
    left: -22px;
    border-left: 4px #D4AF37 solid;
    z-index: 1;
    background-color: white;
}



    h1{
    font-size: var(--fz-20);
}

.header-p{
    color: #E5E7EB;
    font-size: var(--fz-14);
}


    .Ministry{
    font-size: var(--fz-16);
}

.ISO{
    font-size: var(--fz-14);
}

    .header-p{
    font-size: var(--fz-16);
}



    h1{
    font-size: var(--fz-30);
}



    .pricing-h{
    font-size: var(--fz-18);
}

.pricing-p{
    font-size: var(--fz-16);
}


    .pricing-one-card-h{
    font-size: var(--fz-16);
}

.pricing-one-card-p{
    font-size: var(--fz-12);
}



.trustedPartners-h{
    font-size: var(--fz-16);
}

.trustedPartners-p{
    font-size: var(--fz-14);
}


    .trustedPartners-last-item-n{
        font-size: var(--fz-20) ;
    }

    .trustedPartners-last-item-p{
    font-size: var(--fz-16) ;
}


.Reserved{
    font-size: var(--fz-12);
}


.endorSementBar{
    font-size: var(--fz-12);
}
}




@media (min-width: 768px) {
    .header-p{
    font-size: var(--fz-18);
}




    h1{
    font-size: var(--fz-36);
}



        .pricing-h{
    font-size: var(--fz-20);
}

.pricing-p{
    font-size: var(--fz-16);
}


.pricing-one-card-p{
    font-size: var(--fz-14);
}



#pricing ul li{
    font-size: var(--fz-14);
}



.trustedPartners-h{
    font-size: var(--fz-20);
}

.trustedPartners-p{
    font-size: var(--fz-16);
}


.Reserved{
    font-size: var(--fz-14);
}

    .endorSementBar{
    font-size: var(--fz-14);
}
}





@media (min-width: 992px) {


.pricing-one-card-p{
    font-size: var(--fz-16);
}



#pricing ul li{
    font-size: var(--fz-16);
}


}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}
