<section class="rounded-4 mx-auto bg-white">
  <!-- the two icons -->
  <div class="icons">
    <div class="left">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p>Ministry of Higher Education</p>
    </div>
    <div class="right">
      <span>
        <i class="fa-solid fa-book-open"></i>
      </span>
      <p>Supreme Council of Universities</p>
    </div>
  </div>

  <hr />

  <!--Title of Form-->
  <div class="content text-center">
    <h6>Forget Password</h6>
    <p>Reset your account password</p>
  </div>


  <!--body of Form-->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
      aria-describedby="emailHelp" placeholder="Enter your Email">
      <app-error [control]="email"></app-error>
    </div>

    <button type="submit" class="btn w-100 login-submit"  >Send Reset Link</button>
    <div #errorMessage class="alert alert-danger mt-3 d-none">
    </div>
    <div class="env-msg alert alert-primary mt-3 d-flex gap-2" role="alert">
      <span><i class="fa-regular fa-envelope"></i></span>
      <p>A password reset link will be sent to your registered email address. Check your spam folder if you don't receive it
        within a few minutes.</p>
    </div>
  </form>
  <div *ngIf="successMessage">
    <div class="alert alert-success text-center valid-msg" role="alert">
      <span><i class="fa-solid fa-circle-check"></i></span>
      <h5>Email Sent!</h5>
      <p>Password reset link has been sent to your email address.</p>
    </div>
    <div class="msg alert alert-dark" role="alert">
      <p>
        Please check your email and click on the reset link. The link will expire in 24 hours. If
        you don't receive the email, check your spam folder or contact your institution.
      </p>
    </div>
  </div>

  <div class="back mt-1">
    <a [routerLink]="['/auth/login']" class="btn">
      <i class="fas fa-arrow-left m-2"></i>
      back to Login
    </a>
  </div>
  <!--button of return-->
</section>
