<section class="  rounded-4 mx-auto bg-white">
<!-- the two icons -->
  <div class="icons">
    <div class="left">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p>Ministry of Higher Education</p>
    </div>
    <div class="right">
      <span>
        <i class="fa-solid fa-book-open"></i>
      </span>
      <p>Supreme Council of Universities</p>
    </div>
  </div>

  <hr>

  <div class="content text-center">
    <h6>Login to Manaraa</h6>
    <p>Unified National Education Platform</p>
  </div>


<form >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">National ID / Student ID</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your National ID">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
  </div>

  <button   type="submit" class="btn w-100 login-submit">Login with National ID</button>

<div class="or-wrapper">
  <div class="line"></div>
  <span class="or-badge">OR</span>
  <div class="line"></div>
</div>
  <button type="submit" class="btn border rounded-2 w-100"> <img  src="/windows_2374606.png" alt=""> Login with Microsoft Identity</button>
</form>


<div class="forgot text-center">
  <a>Forgot Password?</a>
  <div class="first">
    <a>First Time? Contact your institution</a>
  </div>
</div>


  </section>
