<!--Include Disable-->
<div class="filter-group mb-4" style="width: fit-content">
  <label class="form-label">
    {{ "universities.grid.showStatus" | translate }}
  </label>
  <select
    class="form-select form-select-sm"
    [(ngModel)]="includeDisabled"
    (change)="handleChangeIncludeDisabled()"
  >
    <option [ngValue]="false">
      {{ "universities.grid.activeOnly" | translate }}
    </option>
    <option [ngValue]="true">
      {{ "universities.grid.allUniversities" | translate }}
    </option>
  </select>
</div>

<!--Table-->
<app-table>
  <tr table-header>
    <th scope="col">#</th>
    <th scope="col">{{ "universities.grid.name" | translate }}</th>
    <th scope="col">{{ "universities.grid.description" | translate }}</th>
    <th scope="col">{{ "universities.grid.address" | translate }}</th>
    <th scope="col">{{ "universities.grid.email" | translate }}</th>
    <th scope="col">{{ "universities.grid.website" | translate }}</th>
    <th scope="col">{{ "universities.grid.isDeleted" | translate }}</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>

  <tr
    table-body
    *ngFor="
      let university of universities$ | async;
      let i = index;
      trackBy: trackById
    "
  >
    <td>{{ i + 1 }}</td>
    <td>{{ university.name }}</td>
    <td>{{ university.description }}</td>
    <td>{{ university.address }}</td>
    <td>{{ university.email }}</td>
    <td>{{ university.website }}</td>
    <td>{{ university.isDeleted }}</td>
    <td>
      <i
        *ngIf="
          university.isDeleted &&
          currentUser?.permissions?.includes(
            permissions.universities.toggleStatusUniversities
          )
        "
        (click)="restore(university.id)"
        class="fa-solid fa-retweet text-primary"
      ></i>

      <i
        *ngIf="
          !university.isDeleted &&
          currentUser?.permissions?.includes(
            permissions.universities.toggleStatusUniversities
          )
        "
        (click)="delete(university.id)"
        class="fa-regular fa-trash-can text-danger"
      ></i>
    </td>
    <td>
      <a
        [routerLink]="['edit', university.id]"
        *ngIf="
          currentUser?.permissions?.includes(
            permissions.universities.updateUniversities
          )
        "
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
    </td>
  </tr>
</app-table>
