/* Basic Configuration */
@import url('./assets/css/global.css');


/* header Section */
#header .btn-warning {
    --bs-btn-color: #0A1F44;
    --bs-btn-bg: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #0A1F44;
    --bs-btn-hover-border-color: #0A1F44;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #0A1F44;
    --bs-btn-active-border-color: #0A1F44;
}

#header .fa-circle{
    font-size: var(--fz-10);
}

#header .fa-arrow-right{
    transition: all 0.3s ease;
}


/* end of header Section */





#pricing .btn-warning {
    --bs-btn-color: white;
    --bs-btn-bg: #0A1F44;
    --bs-btn-border-color: #0A1F44;
    --bs-btn-hover-color: #0A1F44;
    --bs-btn-hover-bg: #ffc720;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-active-color: #ffc720;
    --bs-btn-active-bg: #ffc720;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn--border-color: #ffc107;
    transition: all 0.3s ease;
}

#pricing .btn-warning:hover{
  transform: translateY(-5px);
}



/* Media Qeuries If Exists */
@media (min-width: 576px) {

.Certified {
    visibility: visible;
    bottom: -22px;
    left: -22px;
    border-left: 4px #D4AF37 solid;
    z-index: 1;
    background-color: white;
}



    h1{
    font-size: var(--fz-20);
}

.header-p{
    color: #E5E7EB;
    font-size: var(--fz-14);
}


    .Ministry{
    font-size: var(--fz-16);
}

.ISO{
    font-size: var(--fz-14);
}

    .header-p{
    font-size: var(--fz-16);
}



    h1{
    font-size: var(--fz-30);
}



    .pricing-h{
    font-size: var(--fz-18);
}

.pricing-p{
    font-size: var(--fz-16);
}


    .pricing-one-card-h{
    font-size: var(--fz-16);
}

.pricing-one-card-p{
    font-size: var(--fz-12);
}



.trustedPartners-h{
    font-size: var(--fz-16);
}

.trustedPartners-p{
    font-size: var(--fz-14);
}


    .trustedPartners-last-item-n{
        font-size: var(--fz-20) ;
    }

    .trustedPartners-last-item-p{
    font-size: var(--fz-16) ;
}


.Reserved{
    font-size: var(--fz-12);
}


.endorSementBar{
    font-size: var(--fz-12);
}
}




@media (min-width: 768px) {
    .header-p{
    font-size: var(--fz-18);
}




    h1{
    font-size: var(--fz-36);
}



        .pricing-h{
    font-size: var(--fz-20);
}

.pricing-p{
    font-size: var(--fz-16);
}


.pricing-one-card-p{
    font-size: var(--fz-14);
}



#pricing ul li{
    font-size: var(--fz-14);
}



.trustedPartners-h{
    font-size: var(--fz-20);
}

.trustedPartners-p{
    font-size: var(--fz-16);
}


.Reserved{
    font-size: var(--fz-14);
}

    .endorSementBar{
    font-size: var(--fz-14);
}
}

@media (min-width: 992px) {


.pricing-one-card-p{
    font-size: var(--fz-16);
}

#pricing ul li{
    font-size: var(--fz-16);
}


}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}
