<section class="  rounded-4 mx-auto bg-white">

  <!-- the two icons -->
  <div class="icons">
    <div class="left">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p>Ministry of Higher Education</p>
    </div>
    <div class="right">
      <span>
        <i class="fa-solid fa-book-open"></i>
      </span>
      <p>Supreme Council of Universities</p>
    </div>
  </div>

  <hr>

  <!--Title of Form-->
  <div class="content text-center">
    <h6>New Password</h6>
    <p>Reset your account password</p>
  </div>

  <!--body of Form-->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">New Password</label>
      <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter you new password">

      <div class="text-danger mt-1" *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)">
        <small *ngIf="newPassword?.errors?.['required']">
          **New password is required.**
        </small>
      </div>

      <div class="text-danger mt-1" *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)">
        <small *ngIf="newPassword?.errors?.['pattern']">
          **Password should be at least 8 digits and should contains Lowercase, NonAlphanumeric and Uppercase**
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirm password">

      <div class="text-danger mt-1"
        *ngIf="(confirmPassword?.touched && newPassword?.touched) &&  (confirmPassword?.invalid || form?.errors?.['UnmatchedPassword'])">
        <small *ngIf="confirmPassword?.errors?.['required']">
          **Confirm Password is required.**
        </small>
        <small *ngIf="form?.errors?.['UnmatchedPassword']">
          confirmPassWord Is Does Not Match
        </small>
      </div>
    </div>

    <button type="submit" class="btn w-100 login-submit" [disabled]="form.invalid">Confirm</button>
  </form>


</section>
