<section class="  rounded-4 mx-auto bg-white">

  <!-- the two icons -->
  <div class="icons">
    <div class="left">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p>Ministry of Higher Education</p>
    </div>
    <div class="right">
      <span>
        <i class="fa-solid fa-book-open"></i>
      </span>
      <p>Supreme Council of Universities</p>
    </div>
  </div>

  <hr>

  <!--Title of Form-->
  <div class="content text-center">
    <h6>New Password</h6>
    <p>Reset your account password</p>
  </div>

  <!--body of Form-->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">New Password</label>
      <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter you new password">
      <app-error [control]="newPassword"></app-error>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirm password">

      <app-error [control]="confirmPassword"></app-error>

    </div>

    <button type="submit" class="btn w-100 login-submit">Confirm</button>
    <div #errorMessage class="alert alert-danger mt-3 d-none">
    </div>
  </form>


</section>
