
/* techPartners */

.techPartners{
    border-top: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
}

.techPartners-item{
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #F9FAFB;
    border: 2px solid #e5e7eb;
}

.techPartners-item:hover{
    transform: scale(1.05);
}

.techPartners-h{
    color:#4A5565;
    font-size: var(--fz-16);
}


.techPartners-item-h{
    font-size: var(--fz-16);
    color: #101828;
}

.techPartners-item-p{
    color: #6A7282;
    font-size: var(--fz-12);
}


/* End Of techPartners */




/* Media Qeuries If Exists */
@media (min-width: 576px) {

.Certified {
    visibility: visible;
    bottom: -22px;
    left: -22px;
    border-left: 4px #D4AF37 solid;
    z-index: 1;
    background-color: white;
}



    h1{
    font-size: var(--fz-20);
}

.header-p{
    color: #E5E7EB;
    font-size: var(--fz-14);
}


    .Ministry{
    font-size: var(--fz-16);
}

.ISO{
    font-size: var(--fz-14);
}

    .header-p{
    font-size: var(--fz-16);
}



    h1{
    font-size: var(--fz-30);
}



    .pricing-h{
    font-size: var(--fz-18);
}

.pricing-p{
    font-size: var(--fz-16);
}


    .pricing-one-card-h{
    font-size: var(--fz-16);
}

.pricing-one-card-p{
    font-size: var(--fz-12);
}



.trustedPartners-h{
    font-size: var(--fz-16);
}

.trustedPartners-p{
    font-size: var(--fz-14);
}


    .trustedPartners-last-item-n{
        font-size: var(--fz-20) ;
    }

    .trustedPartners-last-item-p{
    font-size: var(--fz-16) ;
}


.Reserved{
    font-size: var(--fz-12);
}


.endorSementBar{
    font-size: var(--fz-12);
}
}




@media (min-width: 768px) {
    .header-p{
    font-size: var(--fz-18);
}




    h1{
    font-size: var(--fz-36);
}



        .pricing-h{
    font-size: var(--fz-20);
}

.pricing-p{
    font-size: var(--fz-16);
}


.pricing-one-card-p{
    font-size: var(--fz-14);
}



#pricing ul li{
    font-size: var(--fz-14);
}



.trustedPartners-h{
    font-size: var(--fz-20);
}

.trustedPartners-p{
    font-size: var(--fz-16);
}


.Reserved{
    font-size: var(--fz-14);
}

    .endorSementBar{
    font-size: var(--fz-14);
}
}





@media (min-width: 992px) {



}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}



