<!--Include Disable-->
<div class="filter-group mb-4" style="width: fit-content;">
  <label class="form-label">Show Status</label>
  <select class="form-select form-select-sm" [(ngModel)]="includeDisabled" (change)="handleChangeIncludeDisabled()">
    <option [ngValue]="false">Active Only</option>
    <option [ngValue]="true">All University</option>
  </select>
</div>

<!--Table-->
<app-table>

      <tr table-header>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Website</th>
        <th scope="col">IsDeleted</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>


      <tr table-body *ngFor="let university of universities$ | async;let i = index; trackBy: trackById">
        <td>{{ i+1 }}</td>
        <td>{{ university.name }}</td>
        <td>{{ university.description }}</td>
        <td>{{ university.address }}</td>
        <td>{{ university.email }}</td>
        <td>{{ university.website }}</td>
        <td>{{ university.isDeleted }}</td>
        <td>
          <i *ngIf="university.isDeleted" (click)="restore(university.id)" class="fa-solid fa-retweet text-primary"></i>
          <i *ngIf="!university.isDeleted" (click)="delete(university.id)" class="fa-regular fa-trash-can text-danger"></i>
        </td>
        <td><a [routerLink]="['edit',university.id]"><i class="fa-solid fa-pen-to-square"></i></a></td>
      </tr>

</app-table>



