<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="university-tab" data-bs-toggle="tab" data-bs-target="#university" type="button" role="tab"
      aria-controls="university" aria-selected="true">University</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="faculty-tab" data-bs-toggle="tab" data-bs-target="#faculty" type="button" role="tab"
      aria-controls="faculty" aria-selected="false">Faculty</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="university" role="tabpanel" aria-labelledby="university-tab">

    <div class="content-section p-3 ">

      <app-edit-university-component [univsersityId]="univsersityId"></app-edit-university-component>
      </div>
  </div>
  <div class="tab-pane fade" id="faculty" role="tabpanel" aria-labelledby="faculty-tab">
    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#facultyModal">
      Add New faculty
    </button>
        <div class="content-section p-3">

              <app-faculty-dialog-form [universityId]="univsersityId"></app-faculty-dialog-form>
              <app-faculties-grid [universityId]="univsersityId"></app-faculties-grid>
        </div>

  </div>
</div>

